<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- id가 다음과 같은 객체를 가지고 만들겠다. -->
	<!-- <bean id='hello' class='kr.co.lchy.beans.HelloWorldEn' /> -->
	
	<!-- xml을 로딩할 때 자동으로 객체 생성 -> 자동주입을 한다면 id 속성이 필요없다.--> 
	<bean class="kr.co.lchy.beans.TestBean"/>
	
	<!-- xml을 로딩할 때 자동으로 객체 생성 -> 자동주입을 한다면 id 속성이 필요없다.--> 
	<bean class="kr.co.lchy.beans.TestBean" id = "test1"/>
	
	<bean class="kr.co.lchy.beans.TestBean"  lazy-init= "true"/>
	
	<bean class="kr.co.lchy.beans.TestBean"  id = "test3" scope = "prototype"/>
</beans>
	
	